include requirements.txt
include LICENSE
include README.md
recursive-include izi *.css
recursive-include izi *.csv
recursive-include izi *.doc
recursive-include izi *.docx
recursive-include izi *.eml
recursive-include izi *.eot
recursive-include izi *.gif
recursive-include izi *.html
recursive-include izi *.ico
recursive-include izi *.jpeg
recursive-include izi *.jpg
recursive-include izi *.js
recursive-include izi *.less
recursive-include izi *.md
recursive-include izi *.mp3
recursive-include izi *.ogg
recursive-include izi *.ods
recursive-include izi *.odt
recursive-include izi *.otf
recursive-include izi *.pdf
recursive-include izi *.png
recursive-include izi *.po
recursive-include izi *.rml
recursive-include izi *.rng
recursive-include izi *.rst
recursive-include izi *.sass
recursive-include izi *.sql
recursive-include izi *.svg
recursive-include izi *.template
recursive-include izi *.txt
recursive-include izi *.ttf
recursive-include izi *.woff
recursive-include izi *.woff2
recursive-include izi *.wsdl
recursive-include izi *.xls
recursive-include izi *.xsd
recursive-include izi *.xsl
recursive-include izi *.xlsx
recursive-include izi *.xml
recursive-include izi *.yml
recursive-include izi *.zip
recursive-include izi/addons/l10n_mx_edi *.xslt *.key *.cer *.txt
recursive-include izi/addons/l10n_mx_reports *.xslt
recursive-exclude * *.py[co]
recursive-exclude * *.hg*
